azure-core==1.32.0
azure-storage-blob==12.24.1
Django==5.1.4
django-after-response==0.2.2
django-cors-headers==4.6.0
django-crontab==0.7.1
django-phonenumber-field==8.0.0
djangorestframework==3.15.2
djangorestframework-api-key==3.0.0
djangorestframework_simplejwt==5.4.0
pdfminer.six==20231228
pdfplumber==0.11.5
phonenumbers==9.0.2
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycountry==24.6.1
PyJWT==2.10.1
PyPDF2==3.0.1
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2025.1
PyYAML==6.0.2
RapidFuzz==3.12.1
reportlab==4.4.0
requests==2.32.3
requests-toolbelt==1.0.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uritemplate==4.1.1
urllib3==2.3.0
user-agents==2.2.0
whitenoise==6.9.0
yarl==1.18.3
zstandard==0.23.0
